In [1]:
import pandas as pd

In [2]:
# Load data
#Read the movie dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [3]:
movies

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [5]:
# Merge the movies and ratings datasets
movie_ratings = pd.merge(movies, ratings, left_on='movie id', right_on='movie_id')

In [6]:
movie_ratings

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,user_id,movie_id,rating,unix_timestamp
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,308,1,4,887736532
1,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,287,1,5,875334088
2,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,148,1,4,877019411
3,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,280,1,4,891700426
4,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,66,1,3,883601324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,863,1678,1,889289570
99996,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,1,0,1,0,0,863,1679,3,889289491
99997,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,1,0,0,0,0,863,1680,2,889289570
99998,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,896,1681,3,887160722
99999,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,916,1682,3,880845755

In [7]:
movie_ratings.to_csv('combined_data.csv', index=False)

Combined Columns: Index(['movie id', 'movie title', 'release date', 'video release date',
       'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'user_id', 'movie_id', 'rating', 'unix_timestamp'],
      dtype='object')

In [9]:
top_genre_movies

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Romance,Sci-Fi,Thriller,War,Western,user_id,movie_id,rating,unix_timestamp,average_rating
660,661,High Noon (1952),01-Jan-1952,NaN,http://us.imdb.com/M/title-exact?High%20Noon%2...,0,0,0,0,0,...,0,0,0,0,1,292,661,5,881105561,4.102273
588,589,"Wild Bunch, The (1969)",01-Jan-1969,NaN,"http://us.imdb.com/M/title-exact?Wild%20Bunch,...",0,0,0,0,0,...,0,0,0,0,1,292,589,4,881105516,4.023256
434,435,Butch Cassidy and the Sundance Kid (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?Butch%20Cassi...,0,1,0,0,0,...,0,0,0,0,1,19,435,5,885412840,3.949074
509,510,"Magnificent Seven, The (1954)",01-Jan-1954,NaN,http://us.imdb.com/M/title-exact?Shichinin%20n...,0,1,0,0,0,...,0,0,0,0,1,122,510,4,879270327,3.942149
645,646,Once Upon a Time in the West (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?C'era%20una%2...,0,0,0,0,0,...,0,0,0,0,1,293,646,3,888906244,3.868421

In [15]:
import pandas as pd

# Load data
combined_data = pd.read_csv('combined_data.csv')

# Calculate the average rating for each movie
movie_avg_ratings = combined_data.groupby('movie_id')['rating'].mean().reset_index()
movie_avg_ratings.columns = ['movie_id', 'average_rating']

# Merge average ratings with the combined data
movies_with_avg_ratings = pd.merge(combined_data.drop_duplicates(subset='movie_id'), movie_avg_ratings, on='movie_id')

# List of genres
genres = ['Action', 'Adventure', 'Animation', "Children's", 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

# Dictionary to hold top movies for each genre
top_movies_by_genre = {}

# Get top 5 movies for each genre
for genre in genres:
    genre_movies = movies_with_avg_ratings[movies_with_avg_ratings[genre] == 1]
    top_n_movies = genre_movies.sort_values(by='average_rating', ascending=False).head(5)
    top_movies_by_genre[genre] = top_n_movies[['movie title', 'average_rating']]

# Convert the dictionary to a DataFrame for saving
top_movies_df = pd.concat(top_movies_by_genre, axis=0)

# Save the top movies by category to a CSV file
top_movies_df.to_csv('top_5_movies_by_category.csv', index=False)

print("Top 5 movies by category saved to top_5_movies_by_category.csv")

Top 5 movies by category saved to top_5_movies_by_category.csv

In [16]:
top_movies_df

                                                       movie title  \
Action     49                                     Star Wars (1977)
           126                               Godfather, The (1972)
           173                      Raiders of the Lost Ark (1981)
           312                                      Titanic (1997)
           171                     Empire Strikes Back, The (1980)
Adventure  1292                                    Star Kid (1997)
           49                                     Star Wars (1977)
           173                      Raiders of the Lost Ark (1981)
           510                           Lawrence of Arabia (1962)
           171                     Empire Strikes Back, The (1980)
Animation  407                               Close Shave, A (1995)
           168                          Wrong Trousers, The (1993)
           113   Wallace & Gromit: The Best of Aardman Animatio...
           1366                                       Faust (1994)
           188                             Grand Day Out, A (1992)
Children's 1292                                    Star Kid (1997)
           131                            Wizard of Oz, The (1939)
           7                                           Babe (1995)
           499                                Fly Away Home (1996)
           0                                      Toy Story (1995)
Mystery    602                                  Rear Window (1954)
           512                               Third Man, The (1949)
           478                                      Vertigo (1958)
           483                          Maltese Falcon, The (1941)
           190                                      Amadeus (1984)
Romance    482                                   Casablanca (1942)
           49                                     Star Wars (1977)
           312                                      Titanic (1997)
           171                     Empire Strikes Back, The (1980)
           965                       Affair to Remember, An (1957)
Sci-Fi     1292                                    Star Kid (1997)
           49                                     Star Wars (1977)
           473   Dr. Strangelove or: How I Learned to Stop Worr...
           171                     Empire Strikes Back, The (1980)
           88                                  Blade Runner (1982)
Thriller   407                               Close Shave, A (1995)
           602                                  Rear Window (1954)
           11                           Usual Suspects, The (1995)
           512                               Third Man, The (1949)
           962             Some Folks Call It a Sling Blade (1993)
War        317                             Schindler's List (1993)
           482                                   Casablanca (1942)
           49                                     Star Wars (1977)
           473   Dr. Strangelove or: How I Learned to Stop Worr...
           510                           Lawrence of Arabia (1962)
Western    660                                    High Noon (1952)
           588                              Wild Bunch, The (1969)
           434           Butch Cassidy and the Sundance Kid (1969)
           509                       Magnificent Seven, The (1954)
           645                 Once Upon a Time in the West (1969)

                 average_rating
Action     49          4.358491
           126         4.283293
           173         4.252381
           312         4.245714
           171         4.204360
Adventure  1292        5.000000
           49          4.358491
           173         4.252381
           510         4.231214
           171         4.204360
Animation  407         4.491071
           168         4.466102
           113         4.447761
           1366        4.200000
           188         4.106061
Children's 1292        5.000000
           131         4.077236
           7           3.995434
           499         3.903226
           0           3.878319
Mystery    602         4.387560
           512         4.333333
           478         4.251397
           483         4.210145
           190         4.163043
Romance    482         4.456790
           49          4.358491
           312         4.245714
           171         4.204360
           965         4.192308
Sci-Fi     1292        5.000000
           49          4.358491
           473         4.252577
           171         4.204360
           88          4.138182
Thriller   407         4.491071
           602         4.387560
           11          4.385768
           512         4.333333
           962         4.292683
War        317         4.466443
           482         4.456790
           49          4.358491
           473         4.252577
           510         4.231214
Western    660         4.102273
           588         4.023256
           434         3.949074
           509         3.942149
           645         3.868421

In [17]:
#Top 5 movies overall
# Calculate the average rating for each movie
movie_avg_ratings = combined_data.groupby('movie_id')['rating'].mean().reset_index()
movie_avg_ratings.columns = ['movie_id', 'average_rating']

# Merge average ratings back with the combined data
movies_with_avg_ratings = pd.merge(combined_data.drop_duplicates(subset='movie_id'), movie_avg_ratings, on='movie_id')

# List of genres
genres = ['Action', 'Adventure', 'Animation', "Children's", 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

# Function to get top N movies by genre
def get_top_n_movies_by_genre(movies_df, genre, n=5):
    genre_movies = movies_df[movies_df[genre] == 1]
    top_n_movies = genre_movies.sort_values(by='average_rating', ascending=False).head(n)
    return top_n_movies

# Get top 5 movies for each genre and print them
for genre in genres:
    top_genre_movies = get_top_n_movies_by_genre(movies_with_avg_ratings, genre, n=5)

In [21]:
#overall top 5 movies1
top_genre_movies

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Romance,Sci-Fi,Thriller,War,Western,user_id,movie_id,rating,unix_timestamp,average_rating
660,661,High Noon (1952),01-Jan-1952,NaN,http://us.imdb.com/M/title-exact?High%20Noon%2...,0,0,0,0,0,...,0,0,0,0,1,292,661,5,881105561,4.102273
588,589,"Wild Bunch, The (1969)",01-Jan-1969,NaN,"http://us.imdb.com/M/title-exact?Wild%20Bunch,...",0,0,0,0,0,...,0,0,0,0,1,292,589,4,881105516,4.023256
434,435,Butch Cassidy and the Sundance Kid (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?Butch%20Cassi...,0,1,0,0,0,...,0,0,0,0,1,19,435,5,885412840,3.949074
509,510,"Magnificent Seven, The (1954)",01-Jan-1954,NaN,http://us.imdb.com/M/title-exact?Shichinin%20n...,0,1,0,0,0,...,0,0,0,0,1,122,510,4,879270327,3.942149
645,646,Once Upon a Time in the West (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?C'era%20una%2...,0,0,0,0,0,...,0,0,0,0,1,293,646,3,888906244,3.868421

In [25]:
movie_titles =top_genre_movies['movie title']

In [26]:
movie_titles

660                             High Noon (1952)
588                       Wild Bunch, The (1969)
434    Butch Cassidy and the Sundance Kid (1969)
509                Magnificent Seven, The (1954)
645          Once Upon a Time in the West (1969)
Name: movie title, dtype: object